<ion-header>
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<ion-item  class="item">
	<ion-label position = "floating">Email ID<!-- {{'email' | translate }} --></ion-label>
	<ion-input type = "email" [(ngModel)]="email"></ion-input>
</ion-item>

	<b>Note:</b>
	<p>Please enter your authorized email ID to 
	send a verification code.</p>
	
<ion-button type="submit" [routerLink]="['/step2']" (click)="next(email)" floating="center">Next<ion-icon name="arrow-forward"></ion-icon> 
</ion-button>

</ion-content>
