<ion-content>

 <ion-card class="ion-padding"> 
    <ion-card-content>     
      <ion-img class="ion-float-right" src="assets/img/qrcode.jpg" style="width:30%;height:30%;" [routerLink]="['/qr-detail']"></ion-img>  
	    <ion-label >Name: Albert John</ion-label><br>
	    <ion-label>Blood Group: A+</ion-label><br>
	    <ion-label>Age:35</ion-label>
     
        <ion-icon name="create" class="ion-float-right" (ionChange)="editProfileDetails()">Edit</ion-icon>
     
    </ion-card-content>
</ion-card>  
  
<ion-list>
   
  <ion-item>
    <ion-label>Emergency SMS</ion-label>
    <ion-toggle [(ngModel)]="sms"></ion-toggle><br>
     <!-- <span>alert SMS send to emergency contact</span> --> 
  </ion-item>
  <ion-item>
    <ion-label>Emergency Email</ion-label>
    <ion-toggle  [(ngModel)]="email"></ion-toggle>
  </ion-item>
  <ion-item>
  	<ion-label>Mediclaim Policy#</ion-label>  2d678878s994 
  	<ion-icon name="create" class="ion-float-right">Edit</ion-icon>
  </ion-item>
  <ion-item>
  	<ion-label>Policy Issuer# </ion-label> 2ds56878s994 
  	<ion-icon name="create" class="ion-float-right">Edit</ion-icon>
  </ion-item>

</ion-list>

</ion-content>
