
<ion-content>
	dfdsfsdjk
	<!-- <ion-tabs>
	  <ion-tab-bar slot="top">
	    <ion-tab-button tab="self-care-medications" href="self-care-tabs/tabs/tab1/alerts/(self-care-medications:self-care-medications)"> 
	      <ion-label>Medications</ion-label>
	    </ion-tab-button>

	    <ion-tab-button tab="self-care-vitals" href="self-care-tabs/tabs/tab1/alerts/(self-care-vitals:self-care-vitals)">     
	      <ion-label>Vitals</ion-label>
	    </ion-tab-button>

	    <ion-tab-button tab="self-care-others" href="self-care-tabs/tabs/tab1/alerts/(self-care-others:self-care-others)">      
	      <ion-label>Others</ion-label>
	    </ion-tab-button>
	  </ion-tab-bar>
	</ion-tabs> -->
</ion-content>	